.checkoutButton {
  width: 44px;
  height: 44px;
  border: 0.2em solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.shoppingCartWrapper {
  text-align: start;
  flex-direction: column;
  background-color: white;
  width: 22em;
  padding: 1.5em;
  position: absolute;
  top: 18%;
  right: 2%;
  border-radius: 1em 2em 1em 1em;
  z-index: 1;
  font-size: 0.8rem;
  border: 0.5px solid black;
}

.orderInfo {
  padding-top: 1.5em;
  flex-direction: row;
}

.orderInfo button {
  margin: 0;
}
.itemsCount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 3px solid black;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 20%;
  right: 2.25%;
  z-index: 3;
}
.itemsCount span {
  margin-top: 0.15em;
}
